<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.server.mapper.AdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.graduation.server.pojo.Admin">
        <id column="admin_id" property="adminId" />
        <result column="admin_password" property="adminPassword" />
        <result column="admin_latestlogin" property="adminLatestlogin" />
        <result column="admin_name" property="adminName" />
        <result column="admin_phone" property="adminPhone" />
        <result column="admin_orgid" property="adminOrgid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        admin_id, admin_password, admin_latestlogin, admin_name, admin_phone, admin_orgid
    </sql>

</mapper>
